* {
	margin: 0;
	padding: 0;
}

body {
	background: url(./pictures/bg.jpg);
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.container {
	max-width: 680px;
	width: 90%;
	background: rgba(248, 248, 248, 0.459);
	margin-top: 150px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	margin-top: 40px;
}

h1 {
	position: relative;
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

img {
	border: 1px solid rgba(43, 43, 43, 0.144);
	border-radius: 500px;
	background-color: rgba(43, 43, 43, 0.144);
	margin-top: 25px;
	width: 90%;
}

button {
	height: 40px;
	background: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.7);
	margin-top: 15px;
	border: none;
	padding: 0 20px;
	font-size: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.541);
	
}

h3 {
	margin-top: 40px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

input {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.51);
	border: none;
	font-size: 45px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
	outline: none;
}

h2 {
	border: 1px solid white;
	background-color: aliceblue;
	margin-top: 15px;
	padding: 0 10px;
	border-radius: 15px;
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
}

.modal, .wordModal {
	background-color: rgba(0, 0, 0, 0.658);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 5;
	backdrop-filter: blur(5px);
	transform: translateY(-100%);
	transition: 0.5s;

}

.modal form, .wordModal form {
	background-color: rgb(255, 255, 255);
	max-width: 680px;
	width: 90%;
	margin: auto;
	-webkit-box-shadow: 0px 0px 42px 11px rgb(0, 0, 0);
	-moz-box-shadow: 0px 0px 42px 11px rgb(0, 0, 0);
	box-shadow: 0px 0px 42px 11px rgb(0, 0, 0);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 15px;
}

#wordModal input {
	width: 90%;
	height: 40px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.541);
}

@media (max-width:600px){
	#picture{
		width: 50%;
	}
}